div.character-view-container{
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(0, -45%);
    /* transform-origin: top left; */
    width: 125vh;
    height: 125vh;
}
div.view-object{
    width: 100%;
    height: 100%;
}