div.character-view-container{
    position: absolute;
    top: 0;
    left: -10%;
    transform-origin: top left;
    width: 1280px;
    height: 1280px;
}
div.view-object{
    width: 100%;
    height: 100%;
}