div.character-list-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
div.list-box{
    width: 50%;
    height: 90%;
    overflow: auto;
}
div.list-child{
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    margin-bottom: 2%;
    /* overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    gap: 2%; */
}
div.list-child:last-child{
    margin-bottom: initial;
}
div.list-vertical-box{
    width: calc(100% - 6px);
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}
div.list-vertical-box::-webkit-scrollbar{
    height: 8px;
}
div.list-vertical-box::-webkit-scrollbar-thumb{
    background: #00000055;
}
div.list-vertical-box::-webkit-scrollbar-thumb:hover{
    background: #00000055;
}
div.list-vertical-box:hover{
    overflow-x: overlay;
}
div.list-horizon-box{
    width: auto;
    height: 100%;
}
div.list-item{
    display: inline-flex;
    width: 20vh;
    height: 100%;
    background: white;
    margin-left: 1%;
}