div.character-list-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
div.list-box{
    width: 50%;
    height: 90%;
    overflow: auto;
}
div.list-child{
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    margin-bottom: 2%;
    background: #ffffff55;
}