div.left-button-container{
    display: flex;
    flex-flow: row-reverse;
}
div.left-button-box{
    width: 36%;
    margin-right: 9%;
    cursor: pointer;
}
div.character-button img{
    max-width: 100%;
    transform: rotateY(27deg);
}