/* open */
div.open{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    font-size: 2vh;
    font-family: RobotoRegular;
}
div.open-object-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
div.open-object{
    width: 100%;
    height: 100%;
}
div.open-element-container{
    position: absolute;
    width: 100%;
    height: 100%;
    /* opacity: 1.0;
    transition: opacity 0.3s; */
}
/* terra */
div.open-terra-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}
div.open-terra-container img{
    width: 10vmax;
    max-width: 200px;
    min-width: 128px;
}
/* loading */
div.open-loading-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 10px;
    color: #ffdd00;
}
div.open-loading{
    position: absolute;
    width: 100%;
    height: 100%;
}
div.loading-bar{
    position: absolute;
    /* width: 50%; */
    height: 100%;
    background: #ffdd00;
}
div.loading-bar-left{
    left: 0;
}
div.loading-bar-right{
    right: 0;
}
div.loading-bar span{
    position: absolute;
    /* transform: translate(0, -100%); */
}
div.loading-bar-left span{
    right: 0;
}
div.loading-bar-right span{
    left: 0;
}
