@import './right.facility.css';
@import './right.store.css';
@import './right.op.css';
@import './right.combat.css';
@import './right.money.css';
@import './right.date.css';


/* right */
div.right{
    position: absolute;
    top: 50%;
    right: 0;

    width: 850px;
    height: 960px;
    transform: translate(0, -50%) rotateY(-28deg) scale(1);
    transform-origin: right;

    display: flex;
    flex-direction: column;
    font-family: RobotoRegular;
    color: white;
    align-items: center;
    gap: 2.8%;
}
/* right container */
div.right-container{
    width: 100%;
    flex: 1;
    /* background: white; */
}
div.right-date-container{
    flex: 0.15;
}
div.right-money-container{
    flex: 0.4;
}
div.right-combat-container{
    flex: 1.25;
}
div.right-op-container{
    flex: 0.8;
}
div.right-store-container{
    flex: 0.8;
}
div.right-facility-container{
    flex: 0.8;
}
div.right-empty-container{
    flex: 0.1;
}