@import './right.combat.css';
@import './right.money.css';
@import './right.date.css';


/* right */
div.right{
    position: absolute;
    top: 50%;
    width: 920px;

    height: 1080px;
    transform: translate(0, -50%) rotateY(-28deg) scale(1);
    transform-origin: right;
    right: 0;


    display: flex;
    flex-direction: column;
    font-family: RobotoRegular;
    color: white;
    align-items: center;
    gap: 2%;
}
/* right container */
div.right-container{
    width: 100%;
    flex: 1;
    /* background: white; */
}
div.right-date-container{
    flex: 0.15;
}
div.right-money-container{
    flex: 0.3;
}
div.right-combat-container{
    flex: 1.15;
}
div.right-store-container{
    flex: 1.05;
}