/* init */
div.right-op-container{
    display: flex;
    justify-content: right;
    color: #333;
    font-family: BusanBada;
    font-size: 68px;
    word-break: keep-all;
    /* margin-bottom: 4px; */
}
div.op-box{
    display: flex;
    width: 96%;
    gap: 2.6%;
}


/* style */
div.op-section{
    background: white;
    flex: 1;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.op-empty{
    background: rgba(0, 0, 0, 0.7);
    flex: 0.2;
    transform: scaleX(1.5);
    transform-origin: left;
}
div.op-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.op-icon{
    width: 88%;
    height: 100%;
}
div.op-title{
    height: 80%;
}
/* op squad */
div.squad-icon img{
    width: 126px;
}
div.squad-title{
    width: 88%;
}
/* op operator */
div.operator-icon{
    width: 92%;
}
div.operator-icon img{
    width: 128px;
}
div.operator-content-wrap{
    flex-direction: column;
    justify-content: left;
    width: 88%;
    height: 80%;
    gap: 5%;
    font-size: 66px;
    align-items: flex-start;
}
div.operator-content-wrap > div{
    flex: 1;
    min-height: 0;
}
div.operator-detail{
    width: 96%;
    font-size: 30px;
    font-family: NotoSansKrBold;
    color: #aaa;
}