/* init */
div.right-combat-container{
    display: flex;
    justify-content: right;
    word-break: keep-all;
}
div.combat-box{
    position: relative;
    width: 91%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}
div.combat-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
}


/* style */
/* combat img wrap */
div.combat-icon{
    width: 74%;
    height: 100%;
}
div.combat-icon img{
    width: 200px;
}
/* combat content wrap */
div.combat-content-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    height: 80%;
}
div.combat-child{
    display: flex;
    flex: 1;
}
div.combat-event{
    flex: 1.4;
}
/* combat sanity */
div.combat-sanity{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    flex: 1.15;
}
div.combat-sanity-box{
    display: flex;
    width: 100%;
    height: 95%;
    position: relative;
}
div.combat-sanity-box img{
    max-width: 100%;
    /* transform: scale(1, 1.125); */
}
div.combat-sanity-box span{
    position: absolute;
}
span.combat-sanity-current{
    top: 27%;
    right: 10%;
    transform: translate(0, -50%) scaleY(1.05);
    color: #333;
    font-size: 100px;
    font-family: OpenSansSemiBold;
    text-shadow: 5px 7px rgba(0, 0, 0, 0.25);
    letter-spacing: -3px;
}
span.combat-sanity-max{
    bottom: 3%;
    left: 59%;
    transform: translate(-50%, 0) scaleY(1.2);
    font-size: 30px;
}
/* combat title */
div.combat-title{
    display: flex;
    flex-direction: column;
    color: #333;
    width: 25%;
    height: 100%;
    overflow: hidden;
}
div.combat-title-child{
    flex: 1;
    min-height: 0;
}
div.combat-title-big{
    flex: 3;
    font-size: 90px;
}
div.combat-title-tag{
    font-size: 28px;
    color: white;
}
div.combat-title-tag > div{
    position: absolute;
    border-radius: 6px;
    padding: 1px 6px 1px 6px;
    background: #3e3e3e;
}
div.combat-title-small{
    font-size: 28px;
    color: #555;
}