/* init */
div.right-date-container{
    display: flex;
    justify-content: right;
    font-family: OpenSansMedium;
    font-size: 24px;
    max-height: 20px;
    margin-bottom: -12px;
}
div.date-box{
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* flex */
div.date-line-left{
    flex: 0.1;
}
div.date-text{
    flex: 0.36;
}
div.date-line-right{
    flex: 0.6;
}


/* style */
div.date-line{
    background: white;
    opacity: 0.75;
    height: 4px;
}
div.date-text{
    text-align: center;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.4);
}